.details{
    background: var(--background);
    min-height: 100vh;
}

.details-box h1{
    color: var(--words);
    font-size: 1.5em;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 0.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.details-box button{
    width: 10em;
    font-size: 0.9em;
}

.details-box h2{
    color: var(--words);
    font-size: 0.8em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 2em;
}

.details-box h4{
    color: var(--words);
    font-size: 0.5em;
    text-align: justify;
    font-weight: normal;
    padding: 1em 0em;
    text-indent: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.alert{
    text-indent: 0px !important;
    text-align: center !important;
}

.details-box p{
    color: var(--words);
    font-size: 0.3em;
    text-align: justify;
}

.details-padding-text{
    padding: 0em 1em;
}

.details-link{
    display: flex;
    justify-content: start;
    padding-top: 7em;
    padding-bottom: 1em;
}

.details-link a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    text-decoration: none;
    color: var(--words);
    font-weight: 500;
    font-size: 0.6em;
    padding: 0.5em 2em;
    cursor: pointer;
}

.details-icon{
    width: 15px;
}

.details-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-anatomy{
    width: 100%;
    height: auto;  /* Mantém a proporção da imagem */
    max-width: 100%;  /* A largura máxima será a largura do contêiner */
    max-height: 100%; /* A altura máxima será a altura do contêiner */
    object-fit: contain; /* Ajusta a imagem sem distorcer */
    cursor: pointer;
    pointer-events: auto;
}

.details-container-img{
    margin-top: 0.3em;
    width: 100%;
    height: auto;
}

@media (max-width: 374px){
    .details-box h4{
        font-size: 0.4em;
    }
}

@media (min-width: 768px){
    .alert{
        display: none;
    }
    .details-container-img{
        width: 40em;
    }
    .details-link a{
        font-size: 0.9em;
        padding-left: 2.4em;
    }
    .details-icon{
        width: 20px;
    }
    .details-box h1{
        font-size: 2em;
        padding-bottom: 0em;
    }
    
    .details-box button{
        font-size: 1.1em;
    }
    
    .details-box h2{
        font-size: 1.5em;
        margin-top: 1em;
    }
    
    .details-box h4{
        font-size: 0.7em;
    }
    
    .details-box p{
        font-size: 0.5em;
    }
    .details-padding-text{
        padding: 0em 2.1em;
    }
    
}

@media (min-width: 1024px){
    .details-link a{
        padding-left: 3.5em;
    }
    .details-container-img{
        width: 45em;
    }
    .details-box h1{
        font-size: 3em;
    }
    
    .details-box button{
        font-size: 1.3em;
    }
    .details-box h2{
        font-size: 2em;
    }
    
    .details-box h4{
        font-size: 0.8em;
        padding: 1em 0em;
    }
    
    .details-box p{
        font-size: 0.6em;
    }
    .details-padding-text{
        padding: 0em 3em;
    }
}

@media (min-width: 1440px){
    .details-link{
        margin-left: 15em;
        margin-right: 15em;
    }
    .details-box{
        margin: 0em 15em;
    }
    .details-container-img{
        width: 50em;
    }
    .details-box h1{
        font-size: 2.8em;
        padding-bottom: 1em;
    }
}
