.details{
    background: var(--background);
    height: 100%;
    border: solid red 1px;
}

.details-box h1{
    color: var(--words);
    font-size: 1.3em;
    border: solid red 1px;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 0.5em;
}

.details-link{
    display: flex;
    justify-content: start;
    border: solid blue 2px;
    padding-top: 7em;
}

.details-link a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    text-decoration: none;
    color: var(--words);
    font-weight: 500;
    font-size: 0.6em;
    padding: 0.5em 0.8em;
    cursor: pointer;
    border: solid blue 1px;
}

.details-icon{
    width: 15px;
}

.details-box{
    border: solid green 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-anatomy{
    width: 100%;
    height: auto;  /* Mantém a proporção da imagem */
    max-width: 100%;  /* A largura máxima será a largura do contêiner */
    max-height: 100%; /* A altura máxima será a altura do contêiner */
    object-fit: contain; /* Ajusta a imagem sem distorcer */
    cursor: pointer;
    pointer-events: auto;
    border: solid red 2px;
}

.details-container-img{
    width: 20em;
    height: auto;
    border: solid red 1px;
}