section {
    box-sizing: border-box;
}

section{
    box-sizing: inherit;
}



.section-home, .section-contact{
    background: var(--background);
    height: 100vh;
    color: var(--words);
}

.section-home h4{
    font-size: 0.8em;
    margin-top: 0.5em;
}

.icons{
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.icon{
    width: 2em;
}

.images-panel{
    width: 100%;
    height: 15em;
    overflow: hidden;
}

.image-panel{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-home button{
    margin-top: 3em;
}

.section-about{
    background: var(--words);
    height: 100vh;
    color: var(--black);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.section-about h2{
    z-index: 10;
    position: relative;
    width: 88%;
    font-size: 2em;
    padding-bottom: 0.5em;
    color: var(--background);
}

.section-about p{
    z-index: 10;
    font-size: 0.75em;
    width: 88%;
    text-align: justify;
    font-weight: 400;
    padding-top: 0.5em;
}

.background-about{
    position: absolute;
    width: 100%;
    left: 0;
    top: 15em;
    z-index: 1;
    opacity: 0.7;
}

.line{
    width: 88%;
    height: 3px;
    margin-bottom: 2em;
}

.section-contact{
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    gap: 1em;
}

.section-contact h2{
    font-size: 1em;
    display: flex;
    padding-bottom: 0.3em;
}

.section-contact p{
    font-size: 0.3em;
    text-align: left;
}

.contact-founders{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.location, .founders-icon-name{
    padding-left: 1em;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.location{
    border-left: solid 3px var(--words);
}

.founders{
    display: flex;
    flex-direction: row;
    border-left: solid 3px var(--words);
}

.founders1, .founders2{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.icon-location{
    width: 0.5em;
    height: 0.7em;
}
.icon-contact{
    width: 0.7em;
    height: 0.7em;
}

.form-box{
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.3em;
    background: var(--words);
    padding: 1em;
    padding-bottom: 2em;
    border-radius: 10px;
    box-sizing: border-box;
    height: 20em;
}

.icon-contact-black{
    width: 40px;
}

form p{
    font-size: 0.8em !important;
    font-weight: bold;
}

input, label, .section-contact button, textarea{
    font-size: 0.6em;
    border-radius: 10px;
}

input, label, form p{
    text-align: left;
    color: #222127;
    font-size: 0.6em;
}

label{
    font-weight: 700;
}

input, textarea{
    padding: 0.3em 0.6em;
    border: 1px solid #ccc;
}

textarea{
    width: 100% !important;
    box-sizing: border-box;
}

.alert{
    color: rgb(160, 14, 1);
}


@media (min-width: 768px){
    .section-home{
        display: flex;
        flex-direction: row;
    }
    .title{
        height: 100%;
        width: 12em;
    }
    .title h4{
        position: absolute;
        z-index: 1000;
        left: 2.5em;
        top: 35em;
        font-size: 0.65em;
        letter-spacing: 1.2px;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
    }
    .icons{
        width: 7em;
        padding-left: 1.5em;
        padding-top: 1.5em;
    }
    .icon{
        width: 3em;
    }
    .images-panel{
        height: 100%;
        padding-left: 6em;
    }
    .button-explore{
        position: absolute;
        top: 25em;
        left: 1.2em;
    }
    .section-about h2{
        width: 15em;
        font-size: 2.5em;
    }
    .section-about p{
        font-size: 0.9em;
        width: 39em;
        text-align: justify;
        font-weight: 400;
        margin-bottom: 0.5em;
        line-height: 1.5;
        font-weight: 600;
    }
    
    .background-about{
        position: absolute;
        width: 42em;
        left: 0.5em;
        top: 3em;
        z-index: 1;
        opacity: 0.7;
    }
    
    .line{
        margin-bottom: 4em;
        z-index: 1000;
        width: 35em;
    }

    .section-contact{
        flex-direction: row;
        justify-content: space-around;
        gap: 3em;
    }
    .section-contact h2{
        font-size: 2em;
    }
    .section-contact p{
        font-size: 0.5em;
    }
    .contact-founders{
        font-size: 1.4em;
        padding-top: 2em;
    }
    .founders{
        flex-direction: column;
    }
    .form-box{
        width: 20em;
        padding-top: 4em;
    }
    form{
        height: 32em;
        width: 20em;
        margin-top: 2em;
    }
    .icon-contact-black{
        width: 80px;
        padding-top: 1em;
    }
    .fale-conosco{
        font-size: 1.5em !important;
    }
    input, label, textarea{
        font-size: 0.8em;
    }
    input{
        margin-bottom: 1em;
    }
    .section-contact button{
        font-size: 1em;
        margin-top: 1em;
    }
    .icon-location{
        width: 0.7em;
        height: 1em;
    }
    .icon-contact{
        width: 1em;
        height: 1em;
    }
    
}

@media (min-width: 1024px){
    .images-panel{
        padding-left: 12em;
    }
    .title h4{
        left: 5.1em;
        top: 32em;
        font-size: 0.7em;
        letter-spacing: 2px;
    }
    .icons{
        padding-left: 3.5em;
    }
    .button-explore{
        left: 2.8em;
    }
    .section-about h2{
        font-size: 3em;
    }
    .section-about p{
        font-size: 0.9em;
        width: 50em;
        font-weight: 500;
        padding-top: 0.5em;
    }
    .line{
        width: 45em;
    }
    .form-box{
        width: 25em;
    }
    
}

@media (min-width: 1440px){
    .images-panel{
        padding-left: 22em;
    }
    .title h4{
        left: 5.2em;
        top: 30em;
        letter-spacing: 2.9px;
        font-size: 1em;
    }
    .icons{
        width: 13em;
        padding-top: 2em;
    }
    .icon{
        width: 4em;
    }
    .button-explore{
        left: 3.3em;
        top: 24em;
        font-size: 1.5em;
    }
    .background-about{
        left: 2em;
        width: 50em;
    }
    .section-about h2{
        font-size: 3.5em;
    }
    .section-about p{
        font-size: 1em;
        width: 60em;
        font-weight: 400;
    }
    .line{
        width: 60em;
    }
    .form-box{
        width: 30em;
    }
    form{
        padding: 2em;
        width: 25em;
        height: 35em;
    }
    .contact-founders{
        font-size: 1.5em;
        padding-top: 2em;
    }
}
