.neuro{
    color: #dfdede;
    z-index: 1000;
}

.neuroHome{
    padding-top: 3em;
    font-size: 3.5em;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.neuro-icon{
    padding-top: 5em;
    font-size: 0.8em;
    color: var(--background);
}

@media (min-width: 768px){
    .neuro{
        gap: 0.1em;
    }
    .neuroHome{
        display: flex;
        width: 12em;
        padding-top: 6em;
        padding-left: 0.5em;
        font-size: 3em;
    }
    .neuro-icon{
        padding-top: 6.8em;
        font-size: 1em;
        z-index: 1000;
        position: relative;
    }
}

@media (min-width: 1024px){
    .neuroHome{
        padding-left: 1em;
        font-size: 3.5em;
        padding-top: 4.9em;
    }
    .neuro-icon{
        padding-top: 6.8em;
        font-size: 1.1em;
    }
}

@media (min-width: 1440px){
    .neuroHome{
        font-size: 5em;
        padding-left: 1em;
        padding-top: 4.5em;
    }
}
