.navbar-home, .navbar-explore{
    position: absolute; 
    width: 100%;
    top: 2em;
    z-index: 1001;
}

.navbar-home > ul, .navbar-explore > ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
}

.navbar-home > ul > li, .navbar-explore > ul > li{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link{
    color: var(--words);
    text-decoration: none;
    font-weight: 600;
    padding: 0.4em;
    margin: 0;
    width: 6em;
    font-size: 0.9em;
    transition: background 0.3s ease, color 0.3s ease;
}

.nav-link:active .icon-menu-home{
    content: url('/public/images/icon-home-click.png');
}

.nav-link:active .icon-menu-about{
    content: url('/public/images/icon-about-click.png');
}

.nav-link:active .icon-menu-contact{
    content: url('/public/images/icon-contact-click.png');
}

.icon-menu-home{
    width: 35px;
    filter: drop-shadow(0 0 5px rgba(2, 2, 2, 0.9));
}

.icon-menu-about{
    width: 25px;
    filter: drop-shadow(0 0 5px rgba(2, 2, 2, 0.9));
}

.icon-menu-contact{
    width: 35px;
    filter: drop-shadow(0 0 5px rgba(2, 2, 2, 0.9));
}

@media (max-width: 767px){
    .navbar-p{
        font-size: 0.5em;
    }
    .home-p{
        position: relative;
        bottom: 0.6em;
    }
    .members-p{
        position: relative;
        bottom: 0.40em;
    }
}

@media (min-width: 768px){
    .navbar-home{
        top: 1em;
        font-size: 1.1em;
        width: 20em;
        left: 16em;
    }
    .navbar-explore{
        top: 1em;
        font-size: 1.1em;
        width: 100%;
    }
    .navbar-home .nav-link:hover{
        box-shadow: none;
        background: transparent;
    }
    .navbar-explore .nav-link:hover{
        background: var(--color-elements-hover);
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    }
    .navbar-home .nav-link:active{
        color: var(--words);
    }
    .navbar-explore .nav-link:active{
        color: var(--background);
        background: var(--color-elements-active);
    }
    .icon-menu-home, .icon-menu-about, .icon-menu-contact{
        display: none;
    }
}

@media (min-width: 1024px){
    .navbar-home{
        left: 20em;
        font-size: 1.2em;
    }
}

@media (min-width: 1440px){
    .navbar-home{
        left: 29em;
    }
}