.carousel{
    padding: 2em 1em 5em 1em;
}
.carousel p{
    display: flex;
    color: var(--words);
    font-size: 0.5em;
}
.carousel-container{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 0.5em;
    box-sizing: border-box;
    margin: 0.5em 0em;
}

.carousel-container::-webkit-scrollbar{
    display: none;
}

.item-carousel{
    width: 7em;
    display: flex;
    flex-direction: rowss;
}
.img-carousel{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.buttons-carousel{
    display: flex;
    justify-content: end;
    gap: 0.5em;
    padding-top: 0.5em;
    padding-right: 0.1em;
}
.button-left, .button-right{
    width: 30px;
    pointer-events: auto;
    cursor: pointer;
}

.button-left{
    transform: rotate(180deg)
}

.border-carousel{
    border: solid var(--words) 1px;
    border-radius: 10px;
    padding: 0.5em;
    box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 0.3);
}


@media (min-width: 768px){
    .carousel{
        font-size: 2.2em;

    }
    .carousel p{
        font-size: 0.3em;
    }

    .carousel-container{
        margin: 0.2em 0em;
    }

}

@media (min-width: 1024px){
    .carousel{
        font-size: 3em;
        padding: 1em 1em 5em 1em;

    }
    .carousel p{
        font-size: 0.3em;
    }

    .carousel-container{
        margin: 0.2em 0em;
    }

    .buttons-carousel{
        gap: 0.2em;
        padding-top: 0.3em;
    }

}

@media (min-width: 1440px){
    .carousel{
        margin-left: 5em;
        margin-right: 5em;
    }
}