.explorePage{
    background: var(--background);
    height: 100%;
    color: var(--words);
    display: flex;
    flex-direction: column;
    align-items: center;
   padding-bottom: 3em; 
    border: solid red 1px;
}

.box-title-explore{
    border-bottom: solid var(--words) 2px;
    margin-top: 8em;
    width: 22em;
}

.explorePage h1{
    font-size: 1em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.icon-explore{
    width: 40px;
    padding: 0.5em 0em;
}

.container-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2em;
    margin-bottom: 5em;
}

@media (min-width: 345px){
    .explorePage h1{
        font-size: 1.3em;
    }
    .container-grid{
        width: 22em;
    }
}


@media (min-width: 425px){
    .box-title-explore{
        width: 25em;
    }
    .explorePage h1{
        font-size: 1.4em;
    }

    .container-grid{
        width: 25em;
        margin-bottom: 10em;
    }
}

@media (min-width: 768px){
    .explorePage{
        padding-bottom: 0em; 
    }
    .box-title-explore{
        width: 45em;
    }
    .explorePage h1{
        font-size: 2em;
    }
    .icon-explore{
        width: 50px;
        padding: 0.5em 0em;
    }
    .container-grid{
        width: 47em;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1024px){
    .box-title-explore{
        width: 60em;
        margin-top: 10em;
        margin-bottom: 2em;
    }
    .explorePage h1{
        font-size: 2.5em;
    }
    .icon-explore{
        width: 60px;

    }
    .container-grid{
        width: 62em;
    }
}




